.\idea
\lib
*.iml
out/production/PROPClojureMacro/file.txt
src/PROP_Assignment2_jobe7147_bibe1744.zip
out/production/PROPClojureMacro/PROPClojureMacro.pdf
out/production/PROPClojureMacro/PROP_Assignment2_jobe7147_bibe1744.zip
